---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/<GITHUB ORG>/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4874'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"0022db87fbc3d7124e4862647d721f7f\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"id\":15229879,\"name\":\"renderly\",\"full_name\":\"<GITHUB ORG>/renderly\",\"owner\":{\"login\":\"<GITHUB
        ORG>\",\"id\":3614541,\"avatar_url\":\"https://gravatar.com/avatar/718b5b10318dcb1857356e1c1d27cc06?d=https%3A%2F%2Fidenticons.github.com%2F5b67804777c832f2f0f0a818a1f40bc5.png&r=x\",\"gravatar_id\":\"718b5b10318dcb1857356e1c1d27cc06\",\"url\":\"https://api.github.com/users/<GITHUB
        ORG>\",\"html_url\":\"https://github.com/<GITHUB ORG>\",\"followers_url\":\"https://api.github.com/users/<GITHUB
        ORG>/followers\",\"following_url\":\"https://api.github.com/users/<GITHUB
        ORG>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<GITHUB
        ORG>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<GITHUB
        ORG>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<GITHUB
        ORG>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<GITHUB
        ORG>/orgs\",\"repos_url\":\"https://api.github.com/users/<GITHUB ORG>/repos\",\"events_url\":\"https://api.github.com/users/<GITHUB
        ORG>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<GITHUB
        ORG>/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/<GITHUB
        ORG>/renderly\",\"description\":\"A non-proprietary version of my Rendering
        automation library/toolkit.\",\"fork\":false,\"url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly\",\"forks_url\":\"https://api.github.com/repos/<GITHUB ORG>/renderly/forks\",\"keys_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/teams\",\"hooks_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/events\",\"assignees_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/tags\",\"blobs_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/languages\",\"stargazers_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/subscription\",\"commits_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/merges\",\"archive_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/downloads\",\"issues_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<GITHUB
        ORG>/renderly/releases{/id}\",\"created_at\":\"2013-12-16T15:47:48Z\",\"updated_at\":\"2014-01-31T21:22:06Z\",\"pushed_at\":\"2014-01-31T21:22:06Z\",\"git_url\":\"git://github.com/<GITHUB
        ORG>/renderly.git\",\"ssh_url\":\"git@github.com:<GITHUB ORG>/renderly.git\",\"clone_url\":\"https://github.com/<GITHUB
        ORG>/renderly.git\",\"svn_url\":\"https://github.com/<GITHUB ORG>/renderly\",\"homepage\":null,\"size\":1544,\"stargazers_count\":1,\"watchers_count\":1,\"language\":\"C#\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":1,\"mirror_url\":null,\"open_issues_count\":1,\"forks\":1,\"open_issues\":1,\"watchers\":1,\"default_branch\":\"master\",\"master_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":15303388,\"name\":\"hippo\",\"full_name\":\"<GITHUB
        ORG>/hippo\",\"owner\":{\"login\":\"<GITHUB ORG>\",\"id\":3614541,\"avatar_url\":\"https://gravatar.com/avatar/718b5b10318dcb1857356e1c1d27cc06?d=https%3A%2F%2Fidenticons.github.com%2F5b67804777c832f2f0f0a818a1f40bc5.png&r=x\",\"gravatar_id\":\"718b5b10318dcb1857356e1c1d27cc06\",\"url\":\"https://api.github.com/users/<GITHUB
        ORG>\",\"html_url\":\"https://github.com/<GITHUB ORG>\",\"followers_url\":\"https://api.gi[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB ORG>/renderly/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4873'
      X-Ratelimit-Reset:
      - '13912232[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB ORG>/hiroba/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4869'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"50e17af216579730d8b62f1a9c398455\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 01 Feb 2014 02:34:37 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB ORG>/renderly/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4861'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"db2362c530caa22ba9def7ede3678240\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29,25,1,7,2,0,4],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Sat, 01 Feb 2014 02:34:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/birryree/renderly/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4837'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"9711431d3182f6f0def6c3b6b793cb89\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29,25,1,7,2,1,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29,25,1,7,2,1,0]}"
  recorded_at: Sat, 01 Feb 2014 02:34:47 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/birryree/hippo/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4835'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"8ff5b4665214dfe2d2bc57c1fc5b5fbc\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,0,0,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,0,0,0,0]}"
  recorded_at: Sat, 01 Feb 2014 02:34:49 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/alexkuang/boresquare/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4833'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"47c82a9cfd7e813f861d7ea9c06c2877\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,9,12,5,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,9,12,5,0]}"
  recorded_at: Sat, 01 Feb 2014 02:34:49 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/birryree/boresquare/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4831'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"9fb4ddf58dd47ab0dc2cc7c24cbf77f9\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,7,7],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,7,7]}"
  recorded_at: Sat, 01 Feb 2014 02:34:50 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/alexkuang/is<GITHUB ORG>doingwork.info/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4829'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"0deb397502fafbd2955f237f82689aba\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,13,25],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13,25]}"
  recorded_at: Sat, 01 Feb 2014 02:34:50 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/birryree/is<GITHUB ORG>doingwork.info/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4827'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"8354a084a5a67be346e6a3065da640a7\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0]}"
  recorded_at: Sat, 01 Feb 2014 02:34:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/birryree/is<GITHUB ORG>doingwork.info/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4826'
      X-Ratelimit-Reset:
      - '1391223298'
      Etag:
      - "\"8354a084a5a67be346e6a3065da640a7\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0]}"
  recorded_at: Sat, 01 Feb 2014 02:34:51 GMT
recorded_with: VCR 2.8.0
