---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/mochify/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1391088716'
      Etag:
      - "\"ffa0733199a1db96c08b8a8e634e3e53\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"id\":15229879,\"name\":\"renderly\",\"full_name\":\"mochify/renderly\",\"owner\":{\"login\":\"mochify\",\"id\":3614541,\"avatar_url\":\"https://gravatar.com/avatar/718b5b10318dcb1857356e1c1d27cc06?d=https%3A%2F%2Fidenticons.github.com%2F5b67804777c832f2f0f0a818a1f40bc5.png&r=x\",\"gravatar_id\":\"718b5b10318dcb1857356e1c1d27cc06\",\"url\":\"https://api.github.com/users/mochify\",\"html_url\":\"https://github.com/mochify\",\"followers_url\":\"https://api.github.com/users/mochify/followers\",\"following_url\":\"https://api.github.com/users/mochify/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mochify/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mochify/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mochify/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mochify/orgs\",\"repos_url\":\"https://api.github.com/users/mochify/repos\",\"events_url\":\"https://api.github.com/users/mochify/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mochify/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mochify/renderly\",\"description\":\"A
        non-proprietary version of my Rendering automation library/toolkit.\",\"fork\":false,\"url\":\"https://api.github.com/repos/mochify/renderly\",\"forks_url\":\"https://api.github.com/repos/mochify/renderly/forks\",\"keys_url\":\"https://api.github.com/repos/mochify/renderly/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mochify/renderly/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mochify/renderly/teams\",\"hooks_url\":\"https://api.github.com/repos/mochify/renderly/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mochify/renderly/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mochify/renderly/events\",\"assignees_url\":\"https://api.github.com/repos/mochify/renderly/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mochify/renderly/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mochify/renderly/tags\",\"blobs_url\":\"https://api.github.com/repos/mochify/renderly/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mochify/renderly/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mochify/renderly/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mochify/renderly/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mochify/renderly/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mochify/renderly/languages\",\"stargazers_url\":\"https://api.github.com/repos/mochify/renderly/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mochify/renderly/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mochify/renderly/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mochify/renderly/subscription\",\"commits_url\":\"https://api.github.com/repos/mochify/renderly/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mochify/renderly/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mochify/renderly/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mochify/renderly/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/mochify/renderly/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mochify/renderly/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mochify/renderly/merges\",\"archive_url\":\"https://api.github.com/repos/mochify/renderly/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mochify/renderly/downloads\",\"issues_url\":\"https://api.github.com/repos/mochify/renderly/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mochify/renderly/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mochify/renderly/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mochify/renderly/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mochify/renderly/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mochify/renderly/releases{/id}\",\"created_at\":\"2013-12-16T15:47:48Z\",\"updated_at\":\"2014-01-25T05:45:27Z\",\"pushed_at\":\"2014-01-25T05:45:27Z\",\"git_url\":\"git://github.com/mochify/renderly.git\",\"ssh_url\":\"git@github.com:mochify/renderly.git\",\"clone_url\":\"https://github.com/mochify/renderly.git\",\"svn_url\":\"https://github.com/mochify/renderly\",\"homepage\":null,\"size\":1544,\"stargazers_count\":1,\"watchers_count\":1,\"language\":\"C#\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":1,\"mirror_url\":null,\"open_issues_count\":1,\"forks\":1,\"open_issues\":1,\"watchers\":1,\"default_branch\":\"master\",\"master_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":15303388,\"name\":\"hippo\",\"full_name\":\"mochify/hippo\",\"owner\":{\"login\":\"mochify\",\"id\":3614541,\"avatar_url\":\"https://gravatar.com/avatar/718b5b10318dcb1857356e1c1d27cc06?d=https%3A%2F%2Fidenticons.github.com%2F5b67804777c832f2f0f0a818a1f40bc5.png&r=x\",\"gravatar_id\":\"718b5b10318dcb1857356e1c1d27cc06\",\"url\":\"https://api.github.com/users/mochify\",\"html_url\":\"https://github.com/mochify\",\"followers_url\":\"https://api.github.com/users/mochify/followers\",\[...]
