---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/mochify/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"7fe460d297a6f90ff702b4ad956b0e32\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"id\":15229879,\"name\":\"renderly\",\"full_name\":\"mochify/renderly\",\"owner\":{\"login\":\"mochify\",\"id\":3614541,\"avatar_url\":\"https://gravatar.com/avatar/718b5b10318dcb1857356e1c1d27cc06?d=https%3A%2F%2Fidenticons.github.com%2F5b67804777c832f2f0f0a818a1f40bc5.png&r=x\",\"gravatar_id\":\"718b5b10318dcb1857356e1c1d27cc06\",\"url\":\"https://api.github.com/users/mochify\",\"html_url\":\"https://github.com/mochify\",\"followers_url\":\"https://api.github.com/users/mochify/followers\",\"following_url\":\"https://api.github.com/users/mochify/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mochify/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mochify/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mochify/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mochify/orgs\",\"repos_url\":\"https://api.github.com/users/mochify/repos\",\"events_url\":\"https://api.github.com/users/mochify/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mochify/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/mochify/renderly\",\"description\":\"A
        non-proprietary version of my Rendering automation library/toolkit.\",\"fork\":false,\"url\":\"https://api.github.com/repos/mochify/renderly\",\"forks_url\":\"https://api.github.com/repos/mochify/renderly/forks\",\"keys_url\":\"https://api.github.com/repos/mochify/renderly/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/mochify/renderly/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/mochify/renderly/teams\",\"hooks_url\":\"https://api.github.com/repos/mochify/renderly/hooks\",\"issue_events_url\":\"https://api.github.com/repos/mochify/renderly/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/mochify/renderly/events\",\"assignees_url\":\"https://api.github.com/repos/mochify/renderly/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/mochify/renderly/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/mochify/renderly/tags\",\"blobs_url\":\"https://api.github.com/repos/mochify/renderly/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/mochify/renderly/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/mochify/renderly/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/mochify/renderly/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/mochify/renderly/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/mochify/renderly/languages\",\"stargazers_url\":\"https://api.github.com/repos/mochify/renderly/stargazers\",\"contributors_url\":\"https://api.github.com/repos/mochify/renderly/contributors\",\"subscribers_url\":\"https://api.github.com/repos/mochify/renderly/subscribers\",\"subscription_url\":\"https://api.github.com/repos/mochify/renderly/subscription\",\"commits_url\":\"https://api.github.com/repos/mochify/renderly/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/mochify/renderly/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/mochify/renderly/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/mochify/renderly/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/mochify/renderly/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/mochify/renderly/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/mochify/renderly/merges\",\"archive_url\":\"https://api.github.com/repos/mochify/renderly/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/mochify/renderly/downloads\",\"issues_url\":\"https://api.github.com/repos/mochify/renderly/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/mochify/renderly/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/mochify/renderly/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/mochify/renderly/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/mochify/renderly/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/mochify/renderly/releases{/id}\",\"created_at\":\"2013-12-16T15:47:48Z\",\"updated_at\":\"2014-01-22T20:05:26Z\",\"pushed_at\":\"2014-01-12T15:33:41Z\",\"git_url\":\"git://github.com/mochify/renderly.git\",\"ssh_url\":\"git@github.com:mochify/renderly.git\",\"clone_url\":\"https://github.com/mochify/renderly.git\",\"svn_url\":\"https://github.com/mochify/renderly\",\"homepage\":null,\"size\":1514,\"stargazers_count\":1,\"watchers_count\":1,\"language\":\"C#\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":1,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":1,\"open_issues\":0,\"watchers\":1,\"default_branch\":\"master\",\"master_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":15303045,\"name\":\"mochify.github.io\",\"full_name\":\"mochify/mochify.github.io\",\"owner\":{\"login\":\"mochify\",\"id\":3614541,\"avatar_url\":\"https://gravatar.com/avatar/718b5b10318dcb1857356e1c1d27cc06?d=https%3A%2F%2Fidenticons.github.com%2F5b67804777c832f2f0f0a818a1f40bc5.png&r=x\",\"gravatar_id\":\"718b5b10318dcb1857356e1c1d27cc06\",\"url\":\"https://api.github.com/users/mochify\",\"html_url\":\"https://github.com/mochify\",\"followers_url\":\"https://api.github.com/use[...]
- request:
    method: get
    uri: https://api.github.com/repos/mochify/renderly/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1390443665'
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/mochify/mochify.github.io/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"50e17af216579730d8b62f1a9c398455\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Jan 2014 01:21:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/hippo/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1390443665'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/mochify/boresquare/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1390443665'[...]
- request:
    method: get
    uri: https://api.github.com/repos/mochify/ismochifydoingwork.info/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      -[...]
- request:
    method: get
    uri: https://api.github.com/repos/mochify/compojure/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"50e17af216579730d8b62f1a9c398455\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Jan 2014 01:21:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/hiroba/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"50e17af216579730d8b62f1a9c398455\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Jan 2014 01:21:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/dominion/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"50e17af216579730d8b62f1a9c398455\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Jan 2014 01:21:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/mochi-ideas/forks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"50e17af216579730d8b62f1a9c398455\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 23 Jan 2014 01:21:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/renderly/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"05fbf78c7dc08468cbc55ef431ca9f9f\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12,34,9,3,6,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/mochify.github.io/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"e84028416ccb20f9b87f4025199e1d76\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/hippo/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"9dc8663622516305d30cbb44ae5792a8\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/boresquare/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"b960d0cba061b473904b1eac86e2769c\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/ismochifydoingwork.info/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"b960d0cba061b473904b1eac86e2769c\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/compojure/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"94cf4b436a53705419fa055814e5cbfb\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,2,0,0,0,2,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/hiroba/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"844e00d43577f3f9754cfbfc38de083a\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/dominion/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"844e00d43577f3f9754cfbfc38de083a\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/mochify/mochi-ideas/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"7729975b70394ebcc605c4a8f3ce6631\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[],\"owner\":[]}"
  recorded_at: Thu, 23 Jan 2014 01:21:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/birryree/renderly/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"565eb7793897a87402743feeb5e605a3\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12,34,7,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,12,34,7,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/birryree/hippo/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"495278cf34653e976ecb708c32f4cf83\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/alexkuang/boresquare/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"c764ac0eebf9fbaba3a927b44717075d\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,9,7,8],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,9,7,8]}"
  recorded_at: Thu, 23 Jan 2014 01:21:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/birryree/boresquare/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"b960d0cba061b473904b1eac86e2769c\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/alexkuang/ismochifydoingwork.info/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"b960d0cba061b473904b1eac86e2769c\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/birryree/ismochifydoingwork.info/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1390443665'
      Etag:
      - "\"2d4827f6962ba5db23a238df3f3dfca5\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "{\"all\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0],\"owner\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0]}"
  recorded_at: Thu, 23 Jan 2014 01:21:15 GMT
recorded_with: VCR 2.8.0
