<div class="container">
    <div class="page-header">
        <h2>Is mochify doing work?</h2>
    </div>
    <div id="summary">
        <div class="loader"><div class="spinner"></div> <br><em>(loading...)</em></div>
        <div class="hero-unit loaded-content" style="display:none">
            <h1 id="productivity-comment">Yes, but they're probably lying.</h1>
            <h4>(The foreman estimates productivity at <span id="productivity-score"></span>%)</h4>
        </div>
    </div>
    <h3>Recent Github Commits</h3>
    <div id="recent-commits">
        <div class="loader"><div class="spinner"></div> <br><em>(loading...)</em></div>
        <svg id="commit-chart" class="loaded-content" style="display:none"></svg>
    </div>
</div>
<script>
    jQuery(function($) {
        $.get("/reports/productivityscore", function(result) {
            $("#productivity-comment").html(result.comment);
            $("#productivity-score").html(result.score);
            MochiReport.toggleLoadIndicator("#summary");
        });
        $.get("/reports/github/recentcommits", function(result) {
            MochiReport.recentCommitChart("#commit-chart", result);
            MochiReport.toggleLoadIndicator("#recent-commits");
        });
    });
</script>
