<div class="container">
    <div class="page-header">
        <h2>Is mochify doing work?</h2>
    </div>
    <div id="summary">
      <div class="loader"><div class="loading"></div> <em>(loading...)</em></div>
      <div class="hero-unit loaded-content" style="display:none">
        <h1>Productivity is at <span id="productivity-score"></span>%</h1>
      </div>
    </div>
    <h3>Recent Commits</h3>
    <div id="recent-commits">
        <div class="loader"><div class="loading"></div> <em>(loading...)</em></div>
        <svg id="commit-chart" class="loaded-content" style="display:none"></svg>
    </div>
</div>
<style>
    #commit-chart rect {
        fill: #1f2b2f;
    }
    #commit-chart text {
        fill: white;
        text-anchor: end;
    }

    .loading {
        display: inline-block;
        margin: .5em;
        border-width: 30px;
        border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
           -moz-animation: spin 1s linear infinite;
             -o-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite;

        border-style: solid;
        border-color: #444 transparent;
    }

    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(359deg); }
    }

    @-moz-keyframes spin {
        100% { -moz-transform: rotate(359deg); }
    }

    @-o-keyframes spin {
        100% { -moz-transform: rotate(359deg); }
    }

    @keyframes spin {
        100% {  transform: rotate(359deg); }
    }
</style>
<script>
    jQuery(function($) {
        $.get("/reports/productivityscore", function(result) {
            $("#productivity-score").html(result.score);
            MochiReport.toggleLoadIndicator("#summary");
        });
        $.get("/reports/github/recentcommits", function(result) {
            MochiReport.recentCommitChart("#commit-chart", result);
            MochiReport.toggleLoadIndicator("#recent-commits");
        });
    });
</script>
